<header class="clearfix">
    <a href="#/" data-toggle-min-nav
                 class="toggle-min"
                 ><i class="fa fa-bars"></i></a>

    <!-- Logo -->
    <div class="logo">
        <img src = "images/logo.png" style="vertical-align: inherit;">
        <a href="#/">
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <!--<ul class="nav-left list-unstyled">-->
            <!--<li class="dropdown" dropdown is-open="isopenComment">-->
                <!--<a href="javascript:;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">-->
                <!--</a>-->
            <!--</li>-->
        </ul>






        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown langs text-normal"  data-ng-controller="LangCtrl">
                <a id="langLabel" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{lang}}
                </a>
                <ul class="dropdown-menu with-arrow pull-right list-langs" aria-labelledby="langLabel">
                    <li data-ng-show="lang !== 'English' ">
                        <a href="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> English</a></li>
                    <li data-ng-show="lang !== '中文' ">
                        <a href="javascript:;" data-ng-click="setLang('中文')"><div class="flag flags-china"></div> 中文</a></li>
                </ul>
            </li>
            <li class="dropdown text-normal nav-profile" data-ng-controller="signOutController">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Lisa Doe"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a ui-sref="app.admin.profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span><span data-translate="USER_PROFILE"></span>
                        </a>
                    </li>
                    <li>
                        <a href ng-click="signOut()">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span><span data-translate="SignOut"></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</header>
